body {
	margin: 0px;
	padding: 0px;
}

nav {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	padding: 20px;
	text-align: center;
	background: rgba(60, 60, 60, 1);
	z-index: 2;
}

nav > h1 {
	color: white;
	font-size: 20px;
	margin: 0px;
	font-weight: normal;
}

div.header-image {
	height: 300px;
	background: url(../images/header.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top: 60px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {

	div.header-image {
		height: 200px;
	}

}

footer {
	width: 100%;
	margin: 58px 0px 0px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {

	footer {
		margin: 38px 0px 0px;
	}

}

footer > div {
	width: 50%;
	height: 800px;
	margin: 0px auto;
	/* border: 1px solid black; */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {

	footer > div {
		width: 75%;
	}

}


footer > div > section {
	display: block;
	width: 100%;
	padding: 20px;
	border-radius: 5px;
	margin: 0 auto 20px;
	font-size: 1em;
	color: black;
	background: rgba(0, 0, 0, 0.05);
}

footer > div > section.has-header {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

footer > div > h2.section-header {
	position: relative;
	padding: 20px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin: 0 auto;
	font-size: 1em;
	color: white;
	background: rgba(0, 0, 0, 0.5);
}

footer > div > h2.section-header img {
	position: absolute;
	top: 15px;
	right: 20px;
	width: 30px;
	border-radius: 50%;
}

footer > div > section > div.image-container {
	text-align: center;
}

footer > div > section > div.image-container > a.logo {
	display: inline-block;
	width: 100px;
	margin: 0px 20px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

	footer > div > section > div.image-container {
		text-align: left;
	}

	footer > div > section > div.image-container > a.logo {
		display: inline-block;
		width: 40%;
		margin: 0px;
	}
	
	footer > div > section > div.image-container > a.logo:nth-of-type(2) {
		float: right;
	}

}

footer > div > section > div.image-container > a.logo > img {
	width: 100%;
	border-radius: 50%;
}

footer > div > h2.article-header {
	position: relative;
	padding: 20px;
	border-radius: 0px;
	margin: 0 auto;
	font-size: 1em;
	color: white;
	background: rgba(0, 0, 0, 0.5);
}

footer > div > h2.article-header > i {
	position: absolute;
	top: 20px;
	right: 20px;
	color: white;
	font-size: 24px !important;
	cursor: pointer;
}

footer > div > article {
	position: relative;
	padding: 20px;
	border-radius: 0px;
	margin: 0 auto;
	font-size: 1em;
	color: black;
	background: rgba(0, 0, 0, 0.05);
}

footer > div > article:nth-of-type(1) {
	padding: 20px 20px 0px;
}

footer > div > article code img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

footer > div > article:nth-of-type(2) {
}

footer > div > article > ol {
	margin-top: 20px;
}

footer > div > article > ol > li {
	padding: 5px 0px;
	border-radius: 0px;
	margin-left: -14px;
	font-size: 1em;
	color: black;
}

#validation-alert {
	padding: 20px;
	border-radius: 5px;
	margin: 0 auto 20px;
	font-size: 1em;
	color: black;
	background: rgba(255, 0, 0, 0.1);
}

fieldset {
	padding: 0px 20px;
	margin: 20px 0 20px;
	border: 1px solid rgba(0, 0, 0, 0.05);
	border-radius: 5px;
}

.field {
	display: block;
	width: 100%;
	padding: 20px;
	border-radius: 5px;
	margin: 0 auto 20px;
	font-size: 1em;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
}

/* custom radio */

.container-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 20px 0 20px;
  cursor: pointer;
  /* font-size: 22px; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark-radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark-radio {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark-radio {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark-radio:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark-radio:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark-radio:after {
  top: 8.5px;
  left: 8.5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

/* custom checkbox */

/* Customize the label (the container) */
.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  cursor: pointer;
  /* font-size: 22px; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark-checkbox {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark-checkbox {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark-checkbox:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark-checkbox:after {
  left: 10px;
  top: 6px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#id-type {
	margin-top: 20px;
}

input.field {
	color: black;
	background: white;
	border: 1px solid silver;
}

input[type="text"]:nth-of-type(1) {
	margin-top: 20px;
	border: 1px solid silver !important;
}

textarea {
	height: 100%;
	color: rgba(0, 0, 0, 0.5);
	background: rgba(0, 0, 0, 0.1);
	border: none;
}

div.button-container {
	text-align: center;
}

button {
	display: inline-block;
	width: 200px;
	text-align: center !important;
	padding: 10px 0px !important;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	font-size: 18px !important;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

	div.button-container {
		text-align: left;
	}
	
	button {
		width: 45%;
		margin-right: 0px;
		margin-bottom: 20px;
		margin-left: 0px;
		font-size: 14px !important;
	}
	
	button:nth-of-type(2) {
		float: right;
	}
	
}


/* @media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {

	button {
		font-size: 3vw !important;
	}

} */

footer > div > div#students {
	position: relative;
	margin-bottom: 20px;
}

footer > div > div#students p {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 56px;
	margin: 0px 0px 10px 0px;
	padding: 15px;
	background: rgba(0, 0, 0, 0.075);
	color: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}

footer > div > div#students p span {
	display: inline-block;
	width: 70%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	word-wrap: break-word;
	cursor: pointer;
}

footer > div > div#students p i {
	position: absolute;
	font-size: 24px;
	z-index: 1;
	cursor: pointer;
}

footer > div > div#students p i:nth-of-type(1) {
	top: 15px;
	right: 117px;
	color: orange;
}

footer > div > div#students p i:nth-of-type(2) {
	top: 15px;
	right: 83px;
	color: orange;
}

footer > div > div#students p i:nth-of-type(3) {
	top: 15px;
	right: 49px;
	color: deepskyblue;
}

footer > div > div#students p i:nth-of-type(4) {
	top: 15px;
	right: 15px;
	color: firebrick;
}

div.avatar-container {
	position: relative;
	padding: 80px 30px 30px;
	border-radius: 5px;
	margin: 100px auto 20px;
	font-size: 1em;
	color: black;
	background: rgba(0, 0, 0, 0.05);
}

div.avatar-container h3 {
	padding: 20px;
	border-radius: 5px;
	margin: 0px 0px 20px;
	font-size: 1em;
	color: black;
	background: rgba(0, 0, 0, 0.1);
	text-align: center;
}

div.avatar-container img {
	position: absolute;
	top: -50px;
	left: 50%;
	width: 100px;
	border-radius: 50%;
	transform: translateX(-50%);
}

div.avatar-container table {
	border-spacing: 2px;
	border-collapse: separate;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

	div.avatar-container table {
		font-size: 12px;
	}
	
}

div.avatar-container table td {
	padding: 10px;
}

div.avatar-container table tr td:nth-of-type(1) {
	background: rgba(0, 0, 0, 0.05);
	font-weight: bold;
	text-align: center;
}

.select-css {
	display: block;
	font-size: 14px;
	font-family: sans-serif;
	font-weight: normal;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
	margin-bottom: 20px;
}

.select-css::-ms-expand {
	display: none;
}

/* .select-css:hover {
	border-color: #888;
}

.select-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222; 
	outline: none;
}

.select-css option {
	font-weight: normal;
}

*[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css {
	background-position: left .7em top 50%, 0 0;
	padding: .6em .8em .5em 1.4em;
} */